.footer {
   color: white;
   box-sizing: border-box;
   background-color: $colorTop;
   padding: 10px;
   text-align: center;
}

.footer-simple {
   color: $colorTitle;
   box-sizing: border-box;
   padding: 10px;
   text-align: center;
   // overflow: hidden;
   & > p {
      font-weight: 600;
   }
}

.scroll-up {
   position: fixed;
   bottom: 98px;
   opacity: 0;
   right: -9999px;
   width: 41px;
   height: 41px;
   background: #fff;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 2px 3px 5px 0 rgba(0, 1, 1, 0.2);
   z-index: 100;
   transition: 0.3s;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.scroll-up.show {
   right: 22px;
   opacity: 1;
}

.icon-up-arrow {
   position: absolute;
   width: 13px;
   height: 13px;
   fill: gray;
   right: 14px;
   transform: rotate(-90deg);
}

.dialog {
   top: auto;
   background: #fff;
   border-radius: 4px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   &-header {
      position: relative;
      padding: 0 20px 0 20px;
      &-title {
         font-size: 26px;
         font-weight: normal;
         margin-bottom: 20px;
         text-transform: capitalize;
         text-overflow: ellipsis;
      }
   }
   &-body {
      padding: 0 20px 20px 20px;
      overflow-y: auto;
   }
   &-wrapper {
      align-items: center;
      justify-content: center;
      overflow: hidden;
   }
}

.login {
   max-width: 400px;
   width: 400px;
   max-height: calc(100vh - 70px);
}

.cart {
   width: 850px;
   max-width: 100%;
   max-height: calc(100vh - 70px);
}

.form-label {
   display: block;
   width: 100%;
   margin-bottom: 4px;
   white-space: nowrap;
   &-rememberme {
      // margin-top: 4px;
      display: inline-block;
      // justify-content: center;
      // align-items: center;
      // vertical-align: middle;
   }
}

.custom-input {
   width: 100%;
   height: 40px;
   min-width: 180px;
   border-radius: 6px;
   outline: none;
   padding: 0 15px 0 15px;
   margin: 0;
   border: 1px solid rgba(0, 0, 0, 0.12);
   transition: border 0.2s ease-in-out;
   &:hover {
      border-color: $colorMenuSelected;
   }
   &:focus {
      border: 1px solid gray;
   }
}

.custom-checkbox {
   float: left;
   margin: 1px 5px 0 0;
   outline: none;
   vertical-align: middle;
   // display: inline-block;
   border: 1px solid rgba(0, 0, 0, 0.12);
   transition: border 0.2s ease-in-out;
   &:hover {
      border-color: $colorMenuSelected;
   }
   &:focus {
      border: 1px solid gray;
   }
}

.bt-close {
   position: absolute;
   top: -5px;
   right: 20px;
   font-size: 25px;
   fill: gray;
   &:hover {
      cursor: pointer;
   }
}

.custom-button {
   width: 100%;
   min-width: 180px;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
   margin: 5px 0 15px 0;
   padding: 11px 32px;
   border: none;
   outline: none;
   border-radius: 6px;
   font-size: 18px;
   color: #e5ffff;
   background: $colorLogo;
   transition: all 0.2s ease-in-out;
   &:hover {
      background: $colorMenuSelected;
   }
   &:disabled {
      opacity: 0.3;
   }
}

.form-register {
   display: block;
   color: $colorLogo;
   background-color: transparent;
   text-align: center;
   border: none;
   outline: none;
   width: auto;
   margin: 0 auto;
   &:hover {
      cursor: pointer;
      color: $colorMenuSelected;
      transition: all 0.2s ease-in-out;
   }
}

.empty-cart {
   display: flex;
   flex-direction: column;
   align-items: center;
   & > svg {
      max-height: 160px;
      max-width: 100%;
   }
   & > h2 {
      padding: 20px 0;
      font-size: 24px;
      font-weight: 400;
   }
}

.widget {
   position: fixed;
   right: 90px;
   bottom: 95px;
   z-index: 3000;
   @media (max-width: $lg+px) {
      display: none;
   }
}

.evic-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 120px;
   height: 50px;
   background-color: transparent;
   border: 3px solid $colorLogo;
   border-radius: 10px 10px 10px 10px;
}

@media (max-width: $sm+px) {
   .dialog {
      width: 100%;
      height: 100%;
      min-width: 230px;
      &-wrapper {
         justify-content: left;
      }
      &-body {
         max-width: 100%;
      }
   }
}
