// Нормалізація
@import "normalize";

// Міксіни
@import "mixins";

// Шрифти
// &display=swap&subset=cyrillic-ext
// @import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext");
// @import "fonts";

// Іконки
//@import "icons";

// Шрифти за замовчуванням
$fontFamily: "Roboto";

// Змінні
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthConteiner: 1370;
$xl: $maxWidthConteiner + 30;
$lg: 991.98;
$md: 767.98;
$sm: 479.98;

// Кольори
$colorBackground: #f2f3f7; //fafafa
$colorLogo: #3e5288;
$colorText: #252525;
$colorBorder: #cccccc;
$colorTop: #212c4a;
$colorTopSelected: #313c5a;
$colorTitle: #404040;
$colorMenuSelected: #1686cc;

html,
body {
  color: $colorText;
  background-color: $colorBackground;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: $fontFamily, Arial, sans-serif;
  &._lock {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Середовище
.wrapper {
  width: 100%;
  // min-height: 100%;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// Головна сітка
.container {
  // width: 100%; // для уникнення коллапсу
  max-width: $maxWidthConteiner + px;
  margin: 0 auto;
  // @media (max-width: $xl+px){
  //   max-width: 970px;
  // }
  // @media (max-width: $lg+px){
  //   max-width: 750px;
  // }
  // @media (max-width: $md+px){
  //   max-width: none;
  //   padding: 0 10px;
  // }
  // padding: 0 15px;
}

.container-simple {
  max-width: $lg + px;
  margin: 0 auto;
}

@import "header";
@import "main";
@import "footer";
